@import url("./header.css");

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-weight: 400;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 300;
  font-family: OpenSans;
  src: url("../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

body {
  color: var(--dark);
  font-size: 16px;

  font-family: OpenSans, serif;

  line-height: 1.6em;

  background-image: url("../assets/images/background.png");
}

h3 {
  font-size: 34px;
}

h2 {
  font-size: 60px;
}

h1 {
  font-size: 72px;
}

h1,
h2,
h3 {
  font-weight: 400;
  font-family: Neucha, serif;
  line-height: 1.2em;
}

.max-width {
  max-width: 1110px;
}

.box-border {
  box-sizing: border-box;
}

.pb-100 {
  padding-bottom: 100px;
}

.pt-100 {
  padding-top: 100px;
}

.pl-165 {
  padding-left: 165px;
}

.pr-165 {
  padding-right: 165px;
}

.color-basic {
  color: var(--basic);
}

.color-dark {
  color: var(--dark);
}

.pt-5 {
  padding-top: 5px;
}

.m-0 {
  margin: 0;
}

.p-relativ {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.d-flex {
  display: flex;
}

.z-1 {
  z-index: 1;
}

.z-2 {
  z-index: 2;
}
